.icon {
  fill: var(--primary-color);
  font-size: var(--size-2);
}

.menu-btn {
  fill: var(--third-color);
  font-size: 20px;
}

.navbar a:hover {
  color: var(--third-color);
  transition: all ease-in 0.2s;
}
