.home-bg {
    background:
        linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)),
        url('/public/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-block: 5rem;
    padding-inline: 8rem;
}

.home-text {
    color: var(--third-color);
    font-size: var(--size-5);
    text-align: center;
    text-shadow: 2px 2px 4px #555555;
    padding-inline: 5rem;
}


.separator {
    background-color: var(--secondary-color);
}

.separator h2 {
    color: var(--third-color);
    font-size: var(--size-6);
    font-weight: lighter;
}

.separator span {
    color: var(--third-color);
    font-size: var(--size-6);
}

.info-text {
    width: 50%;
    font-size: var(--size-4);
    font-weight: bold;
    line-height: 1.2;
}

.info-list li {
    color: var(--primary-color);
    font-size: var(--size-4);
    font-weight: bold;
}

.info-list,
p {
    font-size: var(--size-2);
}